body{
	font-family: 'Lato', sans-serif;
	font-size: 15px;
}

.header{
	background: #1CA0DC;
	margin-bottom: 15px;
	border-bottom: 1px solid steelblue;
}

.main-title{
	font-family: font-family: 'Encode Sans Condensed', sans-serif;
	font-size: 4em;
	padding: .3em;
	color: #fff;
}

.global_data-list{
	display: flex;
	justify-content: space-between;
	list-style: none;
}

.global_data-list li{
	font-size: 13px;
}

.price-container th{
	/*font-size: 10px;*/
}
